{
  "openapi": "3.1.0",
  "info": {
    "title": "TMDB API",
    "version": "1.0.0",
    "description": "Enhanced OpenAPI 3.1 specification for The Movie Database (TMDB) API.\n\nThis specification includes authentication, account management, favorites, watchlists, certifications, collections, companies, and session management endpoints.\n\nAuthentication uses Bearer Token authorization.",
    "contact": {
      "name": "TMDB Developer Documentation",
      "url": "https://developer.themoviedb.org/docs/getting-started"
    }
  },
  "servers": [
    {
      "url": "https://api.themoviedb.org/3",
      "description": "TMDB Production API"
    }
  ],
  "paths": {
    "/3/account/{account_id}": {
      "get": {
        "summary": "Details",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Details endpoint.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22845422,
            "description": "TMDB account identifier"
          }
        ]
      }
    },
    "/3/account/{account_id}/favorite": {
      "post": {
        "summary": "Add Favourite",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FavoriteRequest"
              },
              "example": {
                "media_type": "movie",
                "media_id": 550,
                "favorite": true
              }
            }
          }
        },
        "description": "Add Favourite endpoint.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22845422,
            "description": "TMDB account identifier"
          }
        ]
      }
    },
    "/3/account/{account_id}/watchlist": {
      "post": {
        "summary": "Add To Watchlist",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatchlistRequest"
              },
              "example": {
                "media_type": "movie",
                "media_id": 550,
                "watchlist": true
              }
            }
          }
        },
        "description": "Add To Watchlist endpoint.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22845422,
            "description": "TMDB account identifier"
          }
        ]
      }
    },
    "/3/account/{account_id}/favorite/movies": {
      "get": {
        "summary": "Favorite Movies",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "integer"
            },
            "example": "22845422"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Favorite Movies endpoint.",
        "tags": [
          "Account"
        ]
      }
    },
    "/3/account/{account_id}/favorite/tv": {
      "get": {
        "summary": "Favorite TV",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "example": 22845422,
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Favorite TV endpoint.",
        "tags": [
          "Account"
        ]
      }
    },
    "/3/account/{account_id}/lists": {
      "get": {
        "summary": "Lists",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Lists endpoint.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22845422,
            "description": "TMDB account identifier"
          }
        ]
      }
    },
    "/3/account/{account_id}/rated/movies": {
      "get": {
        "summary": "Rated Movies",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Rated Movies endpoint.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22845422,
            "description": "TMDB account identifier"
          }
        ]
      }
    },
    "/3/account/{account_id}/rated/tv": {
      "get": {
        "summary": "Rated TV",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Rated TV endpoint.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22845422,
            "description": "TMDB account identifier"
          }
        ]
      }
    },
    "/3/account/{account_id}/rated/tv/episodes": {
      "get": {
        "summary": "Rated TV Episodes",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "description": "Rated TV Episodes endpoint.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22845422,
            "description": "TMDB account identifier"
          }
        ]
      }
    },
    "/3/account/{account_id}/watchlist/movies": {
      "get": {
        "summary": "Watchlist Movies",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Watchlist Movies endpoint.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22845422,
            "description": "TMDB account identifier"
          }
        ]
      }
    },
    "/3/account/{account_id}/watchlist/tv": {
      "get": {
        "summary": "Watchlist TV",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Watchlist TV endpoint.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22845422,
            "description": "TMDB account identifier"
          }
        ]
      }
    },
    "/3/authentication/guest_session/new": {
      "get": {
        "summary": "Create Guest Session",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create Guest Session endpoint.",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/3/authentication/token/new": {
      "get": {
        "summary": "Create Request Token",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create Request Token endpoint.",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/3/authentication/session/new": {
      "post": {
        "summary": "Create Session",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request_token": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "request_token": "e27ad5b731ba490fad7bcf13db2d9b5b560a389e"
              }
            }
          }
        },
        "description": "Create Session endpoint.",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/3/authentication/session/convert/4": {
      "post": {
        "summary": "Create Session (from v4 token)",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request_token": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "request_token": "e27ad5b731ba490fad7bcf13db2d9b5b560a389e"
              }
            }
          }
        },
        "description": "Create Session (from v4 token) endpoint.",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/3/authentication/token/validate_with_login": {
      "post": {
        "summary": "Create Session (with login)",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request_token": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "request_token": "e27ad5b731ba490fad7bcf13db2d9b5b560a389e",
                "username": "SAMMY011",
                "password": "Sammy1999#"
              }
            }
          }
        },
        "description": "Create Session (with login) endpoint.",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/3/authentication/session": {
      "delete": {
        "summary": "Delete Session",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "session_id": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "session_id": "e27ad5b731ba490fad7bcf13db2d9b5b560a389e"
              }
            }
          }
        },
        "description": "Delete Session endpoint.",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/": {
      "get": {
        "summary": "Validate Key",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "description": "Validate Key endpoint."
      }
    },
    "/3/certification/movie/list": {
      "get": {
        "summary": "Movie Certifications",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Movie Certifications endpoint.",
        "tags": [
          "Certifications"
        ]
      }
    },
    "/3/certification/tv/list": {
      "get": {
        "summary": "TV Certifications",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "TV Certifications endpoint.",
        "tags": [
          "Certifications"
        ]
      }
    },
    "/3/movie/changes": {
      "get": {
        "summary": "Movie List",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Movie List endpoint.",
        "tags": [
          "Changes"
        ]
      }
    },
    "/3/person/changes": {
      "get": {
        "summary": "People List",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "People List endpoint.",
        "tags": [
          "Changes"
        ]
      }
    },
    "/3/tv/changes": {
      "get": {
        "summary": "TV List",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "TV List endpoint.",
        "tags": [
          "Changes"
        ]
      }
    },
    "/3/collection/10": {
      "get": {
        "summary": "Details",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Details endpoint.",
        "tags": [
          "Collections"
        ]
      }
    },
    "/3/collection/10/images": {
      "get": {
        "summary": "Images",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Images endpoint.",
        "tags": [
          "Collections"
        ]
      }
    },
    "/3/collection/10/translations": {
      "get": {
        "summary": "Translations",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Translations endpoint.",
        "tags": [
          "Collections"
        ]
      }
    },
    "/3/company/1": {
      "get": {
        "summary": "Details",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Details endpoint.",
        "tags": [
          "Companies"
        ]
      }
    },
    "/3/company/1/alternative_names": {
      "get": {
        "summary": "Alternative Names",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Alternative Names endpoint.",
        "tags": [
          "Companies"
        ]
      }
    },
    "/3/company/1/images": {
      "get": {
        "summary": "Images",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Images endpoint.",
        "tags": [
          "Companies"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "StatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "status_code": {
            "type": "integer"
          },
          "status_message": {
            "type": "string"
          }
        }
      },
      "FavoriteRequest": {
        "type": "object",
        "required": [
          "media_type",
          "media_id",
          "favorite"
        ],
        "properties": {
          "media_type": {
            "type": "string",
            "enum": [
              "movie",
              "tv"
            ]
          },
          "media_id": {
            "type": "integer"
          },
          "favorite": {
            "type": "boolean"
          }
        }
      },
      "WatchlistRequest": {
        "type": "object",
        "required": [
          "media_type",
          "media_id",
          "watchlist"
        ],
        "properties": {
          "media_type": {
            "type": "string",
            "enum": [
              "movie",
              "tv"
            ]
          },
          "media_id": {
            "type": "integer"
          },
          "watchlist": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Account"
    },
    {
      "name": "Collections"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Certifications"
    },
    {
      "name": "Changes"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
